Module Variables ("vars"):

{{ vars | to_nice_json }}

Evironment Variables ("evironment"):

{{ evironment | to_nice_json }}

GROUP NAMES Variables ("group_names"):

{{ group_names | to_nice_json  }}

GROUP Variables ("group"):

{{ groups | to_nice_json }}

HOST Variables ("hostvars"):

{{ hostvars | to_nice_json }}

HOST Variables for this host ({{inventory_hostname}}):

{{ hostvars[inventory_hostname] | to_nice_json }}
